.contenedor{
    display: grid;
    padding: 50px;
    grid-template-columns: 60px 20px 60px;
    grid-template-rows: 60px 20px 60px;
    grid-auto-flow: column;
    
    justify-content: center;



}

.item{
    background-color: rgb(180, 187, 194);

    position: relative;
}



span{

    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
    padding: 0 10px;
    position: absolute;
}

.item:nth-child(1),.item:nth-child(7),
.item:nth-child(3),.item:nth-child(9)
{
    background-color: greenyellow;
}

.item:nth-child(2),.item:nth-child(4),
.item:nth-child(6),.item:nth-child(8)
{
    background-color: rgb(6, 119, 20);
}

.item:nth-child(5){
    background-color: rgb(6, 65, 6);
}

/*SPAN*/
.item:nth-child(1) span{
    background-color: rgb(116, 175, 53);
}

.item:nth-child(7) span{
    background-color: rgb(116, 175, 53);
}

.item:nth-child(3) span{
    background-color: rgb(116, 175, 53);
}


.item:nth-child(9) span{
    background-color: rgb(116, 175, 53);
}